<section class="content">
	<!-- Top Nav -->
	<div>
		<ul class="nav nav-tabs topnav">
		  <li class="settingshead"><a class="active" href="#appointments" data-toggle="tab">Appointments</a></li>
		  <li class="settingshead"><a href="#allPatients" data-toggle="tab">All Patients</a></li>
		</ul>
	  </div>
</section>

<div class="tab-content">
  <div class="tab-pane active" id="appointments">
    <div class="namedesig">
      <h4>Dr. John</h4>
      <p>PhD in Applied Biology</p>
    </div>
  </div>
  <div class="tab-pane" id="allPatients">
    <div class="namedesig">
      <h4>Dr. Watson</h4>
      <p>PhD in Applied Math</p>
    </div>
  </div>
</div>